<ng-container *ngFor="let itemBar of itemsSideBarItems()">
    <a *ngIf="!itemBar.space && !itemBar.sectionTetile && !itemBar.subscriptionTitle" class="py-4 px-1 lg:px-6 flex flex-col items-center 
                      lg:flex-row lg:items-start rounded-lg gap-1 lg:gap-4 cursor-pointer"
                      (click)="onSelectTopic(itemBar.title)"
                      [ngClass]="{
                        'hover:bg-gray-200': selectedTopic !== itemBar.title,
                        'bg-gray-200 hover:bg-gray-300': selectedTopic === itemBar.title
                      }"
                      >
        <span class="material-icons w-6 h-6 ">{{itemBar.icon}}</span>
        <div class="text-[11px] lg:text-base">{{itemBar.title}}</div>
    </a>
    <div *ngIf="itemBar.space">
        <div class="bg-gray-300 h-[0.1px] my-2"></div>
    </div>
    <div *ngIf="itemBar.sectionTetile" class="py-4 px-1  lg:px-6 flex flex-col items-center 
    lg:flex-row lg:items-start rounded-lg gap-1 lg:gap-4">
    <div class="text-[11px] lg:text-base font-bold">{{itemBar.title}}</div>
    </div>
    <div *ngIf="itemBar.subscriptionTitle" class="py-4 px-1  lg:px-6 flex flex-col items-center 
    lg:flex-row lg:items-start rounded-lg gap-1 lg:gap-4"
    (click)="onSelectTopic(itemBar.title)"
    [ngClass]="{
        'hover:bg-gray-200': selectedTopic !== itemBar.title,
        'bg-gray-200 hover:bg-gray-300': selectedTopic === itemBar.title
    }"
    >
       <img [src]="itemBar.icon" class="w-6 h-6 rounded-full">
       <div class="text-[11px] lg:text-base">{{itemBar.title}}</div>
    </div>
</ng-container> 
